.container__articles {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.container__articles__2 {
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.separator {
    margin: 5em;
}

.article__others-2 {
    margin-right: .1em;
}